#survey {
    background-color: #ffffff;
    padding: 30px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin: 19px 50px 0 150px;
    width: 100%;
  }
.heading-container{
  margin-top: -30px;
  margin-right: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  h2 {
    text-align: left;
    margin-top: 80px;
  }
  
  hr {
    margin-top: 2px;
    margin-bottom: 20px;
  }
  
  /* .form-container {
    display: flex;
  }
   */

   .form-container {
    height: 300px;
    display: flex;
    margin-left: 20px;
    /* margin-right: 120px; */
    /* display: inline-flex; */
    justify-content: space-between; /* Add this to evenly space between content */
    align-items: flex-start; /* Align items to the top */
  }
  .left-side {
    flex: 1;
    padding-right: 20px;
  }
  
  .right-side {
    flex: 1;
    padding-left: 20px;
  }
  
  .form-field {
    margin-bottom: 0px;
    padding: 4px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
    color: rgb(3, 3, 3);
    font-weight: 100px;
    /* margin-left: 100px; */
  }
  .form-field input{
    margin-left: 0px;
    height: 40px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid  #aeaeae;
  }
  .form-field select{
    height: 30px;
    border-radius: 0%;
  }
  .form-field .image{
    height: 50px;
  }
  /* .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2px;
  } */
  .button-container {
    display: flex;
    align-items: center; /* Align buttons vertically in the center */
  }
  
  
  .next-button {
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  .cancel-button{
    width: 150px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #278DF1;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0.16px;
    color: #278DF1;
    opacity: 1;
    cursor: pointer;
  }
  
  .frame {
    display: flex;
    width: 1920px;
    
  }

  .labelnamee{
    margin-top: 30px;
    margin-left: 0px;
    width: 53px;
    height: 24px;
    text-align: left;
    font: normal normal 600 18px/24px Open Sans semibold;
    letter-spacing: 0.18px;
    color: #2D2D2E;
    opacity: 1;
    font-weight: bold;
  }
  #namee{
    margin-left: 0px;
    margin-top: 4px;
    width: 588px;
height: 50px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #CCCCCC;
border-radius: 4px;
opacity: 1;
  }


  .labeldescription{
    width: 102px;
height: 24px;
text-align: left;
font: normal normal 600 18px/24px Open Sans;
letter-spacing: 0.18px;
color: #2D2D2E;
opacity: 1;
  }

#description{
  margin-left: 0px;
  margin-top: 4px;
  width: 588px;
  height: 131px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #CCCCCC;
border-radius: 4px;
opacity: 1;
}


.labelsurveyType{
  width: 129px;
  height: 24px;
  text-align: left;
  font: normal normal 600 18px/24px Open Sans;
  letter-spacing: 0.18px;
  color: #2D2D2E;
  opacity: 1;
}
#surveyType{
  width: 267px;
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  opacity: 1;
}




.dateflex{
  display: flex;
  flex-direction: row;
}



.startdate{
  margin-top: 36px;
  width: 90px;
height: 24px;
text-align: left;
font: normal normal 600 18px/24px Open Sans;
letter-spacing: 0.18px;
color: #2D2D2E;
opacity: 1;
}

#startDate{
  width: 225px;
height: 50px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #CCCCCC;
border-radius: 4px;
opacity: 1;
margin-right: 58px;
}

#endDate{
  width: 225px;
height: 50px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #CCCCCC;
border-radius: 4px;
opacity: 1;
}



.enddate{
  margin-top: 36px;
  width: 90px;
height: 24px;
text-align: left;
font: normal normal 600 18px/24px Open Sans;
letter-spacing: 0.18px;
color: #2D2D2E;
opacity: 1;
}


.criteria{
  margin-top: 36px;
  width: 123px;
  height: 24px;
  text-align: left;
  font: normal normal 600 18px/24px Open Sans;
  letter-spacing: 0.18px;
  color: #2D2D2E;
  opacity: 1;
}

#criteria{

  width: 510px;
  height: 93px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  opacity: 1;
}


















  
  
  .next-button {
    width: 150px;
    height: 46px;
    background: #278DF1 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
    border: #278DF1;
    margin-left: 20px;
  }








  .upload-label {
    display: flex;
    margin-top: 36px;
    width: 123px;
    height: 24px;
    margin-top: 10px;
    width: 510px;
    height: 159px;
    /* display: inline-block; */
    text-align: left;
font: normal normal 600 18px/24px Open Sans;
letter-spacing: 0.18px;
color: #2D2D2E;
    cursor: pointer;
    position: relative;
  }
  
  .upload-icon {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 510px;
    height: 159px;
    border: 1px solid  #aeaeae;
    /* background-color: #f5f8fa; */
    pointer-events: none; /* Disable pointer events on the upload-icon */
  }
  
  .icon {
    width: 506px;
    height: 155px;
  }
  
  .input-container {
    margin-top: 10px;
  }
  
  .dragged-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1; /* Set opacity to 1 for full visibility */
    pointer-events: none;
    z-index: 1;
  }
  
  
  .chosen-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
